
main {
    text-align: center;
    padding: 50px 0;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #2980b9;
}

footer {
    margin-top: 465px;
    background-color: ;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
#background-video {
    width: 100vw;
    height: 100vh; 
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  /* Global */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
}

/* Header */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
    
}

#nav-title {
    margin-right: auto;
    font-size: 1.5em;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

header a {
    text-decoration: none;
    color:whitesmoke;
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: #b2dfdb;
}
h1{
    color: #fff;
}
.box{
    border: 1px solid whitesmoke;
    border-radius: 10px;
    max-width: 600px;
    margin:0 auto;
    padding:50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 100%;
    width: 100%;  
    }